

@media (min-width : 768px) {

	/*STYLE COMMUN*/

	.top__section__wrapper {
		padding: 6em 0;
	}

	.infos__pages h2 {
		text-align: left;
	}

	.wrapper__button {
		justify-content: flex-start;
	}

	/*INFOS*/

	.infos__wrapper {
		flex-direction: row;
	}

	.infos__container {
		margin-bottom: 0;
	}

	.instagram__wrapper {
		margin-right: 2em;
	}

	.instagram__wrapper .desktop {
		display: block;
	}

	.instagram__wrapper .mobile {
		display: none;
	}

	/*///////////////////////////////// CONTACT /////////////////////////////////*/

	.contact__wrapper {
		width: 70%;
	}

	/*FOOTER */

	.footer__links ul {
		flex-direction: row;
	}

	.footer__links ul li:not(:last-of-type) {
		margin-right: 1em;
	}


}

@media (min-width : 1024px) {

	/*///////////////////////////////// STYLE COMMUN INFOS /////////////////////////////////*/

	.infos__pages {
		max-width: 70%;
	}

}



@media (min-width : 1200px) {

	/*HEADER*/

	.header__wrapper {
		display: grid;
		grid-template-columns: 1fr 20% 50% 1fr;
		box-shadow: 0 2px 3px 0 #00000012;
	}

	.logo__wrapper {
		grid-column: 2/3;
		display: flex;
		justify-content: center;
		padding: 0.5em 0;
	}

	.burger,
	.close {
		display: none;
	}

	.nav__wrapper {
		/*position: -webkit-sticky;*/
		/*position: sticky;*/
		position: static;
		bottom: unset;
		pointer-events: all;
		grid-column: 3/4;
	}

	.nav__wrapper ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 100%;
		transform: translate3d(0, 0, 0);
		background: transparent;
	}

	.logo__wrapper img {
		max-width: 45%;
		height: auto;
		object-fit: contain;
	}


}


@media (min-width : 1440px) {

	/*INFOS*/

	.infos__wrapper {
		max-width: 100%;
		margin: 0;
		padding: 5em;
	}

	.instagram__wrapper {
		margin-right: 3em;
	}



	/*FOOTER*/

	.footer__links {
		max-width: 50%;
		margin: auto;
	}

}
