/*HEADER*/

header {
	position: fixed;
	z-index: 5;
	top: 0;
	background: white;
	width: 100%;
}

.header__wrapper {
	display: flex;
}

/*MENU*/

/*.burger {*/
/*	background: red;*/
/*	height: 40px;*/
/*	width: 40px;*/
/*}*/

.burger {
	cursor       : pointer;
	margin-right : 10px;
}

.burger .header__burger {
	position            : relative;
	display             : block;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
	user-select         : none;
	width               : 40px;
	height              : 20px;
	margin              : 5px auto;
}

.burger .header__burger span {
	display            : block;
	position           : absolute;
	height             : 2px;
	width              : 100%;
	background         : var(--main-color);
	border-radius      : 9px;
	opacity            : 1;
	left               : 0;
	-webkit-transform  : rotate(0deg);
	-ms-transform      : rotate(0deg);
	transform          : rotate(0deg);
	-webkit-transition : .3s ease-in-out;
	-o-transition      : .3s ease-in-out;
	transition         : .3s ease-in-out;
}

.burger .header__burger span:nth-child(1) {
	top : 0;
}

.burger .header__burger span:nth-child(2),
.burger .header__burger span:nth-child(3) {
	top : 9px;
}

.burger .header__burger span:nth-child(4) {
	top : 18px;
}

.burger.--is-active .header__burger span:nth-child(1) {
	top     : 0;
	width   : 0;
	left    : 50%;
	opacity : 0;
}

.burger.--is-active .header__burger span:nth-child(2) {
	-webkit-transform : rotate(45deg);
	-ms-transform     : rotate(45deg);
	transform         : rotate(45deg);
}

.burger.--is-active .header__burger span:nth-child(3) {
	-webkit-transform : rotate(-45deg);
	-ms-transform     : rotate(-45deg);
	transform         : rotate(-45deg);
}

.burger.--is-active .header__burger span:nth-child(4) {
	top     : 20px;
	width   : 0;
	left    : 50%;
	opacity : 0;
}

.nav__wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 0;
	pointer-events: none;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 0;
	background: rgba(56, 75, 99, .3);
	transition: all 0.3s ease-in-out;
}

.nav__wrapper.--is-active .overlay {
	width: 100%;
	pointer-events: all;
}

.nav__wrapper ul {
	position: relative;
	width: 100%;
	max-width: 320px;
	height: 100%;
	background: var(--main-color);
	transform: translate3d(-100%, 0, 0);
	transition: all 0.3s ease-in-out;
}

.nav__wrapper.--is-active ul {
	transform: translate3d(0, 0, 0);
	pointer-events: all;
}

.nav__wrapper ul a {
	padding: 1em 0;
	display: inline-block;
}

.close {
	color: white;
	display: flex;
	justify-content: flex-end;
}

.logo__wrapper img {
	max-width: 30%;
	height: auto;
	object-fit: contain;
}

/*FOOTER*/

footer#footer {
	background: var(--green-color);
	padding: 2em 0;
}

.footer__links {
	max-width: 90%;
	margin: auto;
}

.footer__links ul {
	display: flex;
	justify-content: center;
}

.footer__links ul li:not(:last-of-type) {
	margin-right: 1em;
}

.footer__links li {
	border:none;
	position: relative;
	line-height: 30px;
	width: fit-content;
}

.footer__links li:hover {
	border-bottom: none;
}

.footer__links li:after{
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	left: 50%;
	bottom:0;
	background-color: #2A958A;
	transition: all .2s cubic-bezier(.17,.67,.83,.67);
}

.footer__links li:hover:after{
	width: 100%;
	left: 0;
}

.footer__links a {
	color: #000;
}

.footer__links a:hover {
	color: #2A958A;
}

.footer__copyright {
	display: flex;
	justify-content: center;
	padding: 1em 0;
}

/*///////////////////////////////// HOME /////////////////////////////////*/

/*TOP SECTION*/

body#index .top__section__wrapper {
	background: url(../img/bg_carrots.jpg) no-repeat;
	background-size: cover;
	padding: 8em 0;
}

body#index .top__section__wrapper h1 {
	display: flex;
	justify-content: center;
	color: white;
	font-size: calc(35px + (70 - 35) * ((100vw - 320px) / (1920 - 320)));
}

body#index .top__section__wrapper span {
	display: flex;
	justify-content: center;
	color: white;
	font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
}

/*INFOS*/

.infos__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 2em 0;
	max-width: 95%;
	margin: auto;
}

.infos__wrapper a {
	color: #000;
	transition: all 0.3s ease-in-out;
}

.infos__wrapper a:hover {
	color: #2A958A;
}

.infos__container {
	position: relative;
}

.infos__container:not(:last-of-type) {
	margin-bottom: 1em;
}

.infos__title	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	background: rgba(148, 233, 224, 0.75);
	padding: 0.75em 3em;
}

.instagram__wrapper .desktop {
	display: none;
}

.blogs__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


