/*HEADER*/

header {
	position: fixed;
	z-index: 5;
	top: 0;
	background: white;
	box-shadow: 0px 2px 3px 0px #00000012;
	width: 100%;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

/*MENU*/

/*.burger {*/
/*	background: red;*/
/*	height: 40px;*/
/*	width: 40px;*/
/*}*/

.burger {
	display: flex;
	align-items: center;
	cursor       : pointer;
	margin-right : 10px;
}

.burger .header__burger {
	position            : relative;
	display             : block;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
	user-select         : none;
	width               : 40px;
	height              : 20px;
	/*margin              : 5px auto;*/
	margin-left: auto;
}

.burger .header__burger span {
	display            : block;
	position           : absolute;
	height             : 2px;
	width              : 100%;
	background         : var(--main-color);
	border-radius      : 9px;
	opacity            : 1;
	left               : 0;
	-webkit-transform  : rotate(0deg);
	-ms-transform      : rotate(0deg);
	transform          : rotate(0deg);
	-webkit-transition : .3s ease-in-out;
	-o-transition      : .3s ease-in-out;
	transition         : .3s ease-in-out;
}

.burger .header__burger span:nth-child(1) {
	top : 0;
}

.burger .header__burger span:nth-child(2),
.burger .header__burger span:nth-child(3) {
	top : 9px;
}

.burger .header__burger span:nth-child(4) {
	top : 18px;
}

.burger.--is-active .header__burger span:nth-child(1) {
	top     : 0;
	width   : 0;
	left    : 50%;
	opacity : 0;
}

.burger.--is-active .header__burger span:nth-child(2) {
	-webkit-transform : rotate(45deg);
	-ms-transform     : rotate(45deg);
	transform         : rotate(45deg);
}

.burger.--is-active .header__burger span:nth-child(3) {
	-webkit-transform : rotate(-45deg);
	-ms-transform     : rotate(-45deg);
	transform         : rotate(-45deg);
}

.burger.--is-active .header__burger span:nth-child(4) {
	top     : 20px;
	width   : 0;
	left    : 50%;
	opacity : 0;
}

.nav__wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 0;
	pointer-events: none;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 0;
	background: rgba(56, 75, 99, .6);
	transition: all 0.3s ease-in-out;
}

.nav__wrapper.--is-active .overlay {
	width: 100%;
	pointer-events: all;
}

.nav__wrapper ul {
	position: relative;
	width: 100%;
	max-width: 320px;
	height: 100%;
	background: var(--main-color);
	transform: translate3d(-100%, 0, 0);
	transition: all 0.3s ease-in-out;
}

.nav__wrapper.--is-active ul {
	transform: translate3d(0, 0, 0);
	pointer-events: all;
}

.nav__wrapper.--is-active ul li:not(.close) {
	padding: 0 1em;
}

.nav__wrapper ul a {
	padding: 1em 0;
	display: inline-block;
}

.nav__wrapper.--is-active ul li a:hover {
	color: var(--dark-green-color);
}

.close {
	display: flex;
	justify-content: flex-end;
	color: white;
	cursor: pointer;
	padding: 1em 1em 0;
}

.close:hover {
	color: var(--dark-green-color);
}

.logo__wrapper {
	padding: 0.5em 0 0.5em 0.5em;
}

.logo__wrapper img {
	max-width: 30%;
	height: auto;
	object-fit: contain;
}

/*///////////////////////////////// STYLE COMMUN /////////////////////////////////*/

.top__section__wrapper {
	padding: 4em 0;
}

.top__section__wrapper h1 {
	display: flex;
	justify-content: center;
	color: white;
	font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
	text-align: center;
	line-height: 1.2em;
}

.top__section__wrapper span {
	display: flex;
	justify-content: center;
	color: white;
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
}

/*///////////////////////////////// HOMEPAGE /////////////////////////////////*/

/*TOP SECTION*/

body#index .top__section__wrapper {
	background: url(../img/bg_carrots.jpg) no-repeat;
	background-size: cover;
}

/*INFOS*/

.infos__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 2em 0;
	max-width: 95%;
	margin: auto;
}

.infos__wrapper h2 {
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.infos__wrapper a {
	color: #000;
	transition: all 0.3s ease-in-out;
}

.infos__wrapper a:hover {
	color: #2A958A;
}

.infos__container {
	position: relative;
}

.infos__container:not(:last-of-type) {
	margin-bottom: 1em;
}

.infos__title	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	background: rgba(148, 233, 224, 0.75);
	padding: 0.75em 3em;
}

.instagram__wrapper .desktop {
	display: none;
}

.blogs__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/*///////////////////////////////// STYLE COMMUN INFOS /////////////////////////////////*/

.infos__pages {
	display: flex;
	flex-direction: column;
	max-width: 95%;
	margin: auto;
	padding: 5em 0;
}


.infos__pages h2 {
	text-align: center;
	line-height: 1.5em;
}

/*///////////////////////////////// CRUELTY FREE /////////////////////////////////*/

body#crueltyfree .top__section__wrapper {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/rabbit.jpg) no-repeat;
	background-size: cover;
	background-position: 15% 65%;
}

.wrapper__button {
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

.wrapper__button .btn-download {
	background: linear-gradient(to right,#80C6BE 0%,#3CD1C1 100%) border-box,linear-gradient(#FFF,#FFF) padding-box left;
	background-size: 100% 100%,auto;
	background-repeat: no-repeat;
	border: 1px solid var(--green-color);
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
	transition: all 0.5s cubic-bezier(.215,.61,.355,1);
	cursor: pointer;
	overflow: hidden;
	padding: .7em;
	text-transform: uppercase;
	text-align: center;
}

.wrapper__button .btn-download:hover {
	background-size: 100% 0,auto;
	color: #3CD1C1;
	text-align: center;
}

/*///////////////////////////////// GUIDE /////////////////////////////////*/

body#guide .top__section__wrapper {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/renard.jpg) no-repeat;
	background-size: cover;
	background-position: 15% 50%;
}

.infos__content ul li {
	line-height: 1.5em;
}

.infos__content ul li:not(:last-of-type) {
	margin-bottom: 1.5em;
}

svg.svg-inline--fa.fa-chevron-right.fa-w-8 {
	vertical-align: middle;
}

body#guide .wrapper__button {
	padding-top: 2em;
	display: flex;
	justify-content: center;
}

/*///////////////////////////////// CONTACT /////////////////////////////////*/

.contact__wrapper {
	background: #fff;
	border-radius: 15px;
	background: linear-gradient(145deg, #F4FBFA, #ffffff);
	box-shadow:  7px 7px 14px #e6e6e6,
	-7px -7px 14px #ffffff;
	width: 95%;
	margin: auto;
	padding: 5em;
}

body#contact .top__section__wrapper {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/butterfly.jpg) no-repeat;
	background-size: cover;
	background-position: 15% 70%;
}

/*///////////////////////////////// CREDITS /////////////////////////////////*/

body#credits .top__section__wrapper {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/bird.jpg) no-repeat;
	background-size: cover;
	background-position: 15% 75%;
}

body#credits ul.credit__links a {
	color: #86D1C9;
}


/*FOOTER*/

footer#footer {
	background: var(--green-color);
	padding: 2em 0;
}

.footer__links {
	max-width: 90%;
	margin: auto;
}

.footer__links ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer__links li {
	border:none;
	position: relative;
	line-height: 30px;
	width: fit-content;
}

.footer__links li:hover {
	border-bottom: none;
}

.footer__links li:after{
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	left: 50%;
	bottom:0;
	background-color: var(--dark-green-color);
	transition: all .2s cubic-bezier(.17,.67,.83,.67);
}

.footer__links li:hover:after{
	width: 100%;
	left: 0;
}

.footer__links a {
	color: #000;
}

.footer__links a:hover {
	color: var(--dark-green-color);
}

.footer__copyright {
	display: flex;
	justify-content: center;
	padding: 1em 0;
}
